.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    text-align: center;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
    
}

.product p {
    font-size: 35px;
    font-weight: bold;
    height: 20px;
}

.product span {
    display: block;
    font-size: 20px;
    color: #929292;
    margin: 5px 0;
}
.screen-reader-text1 {
    color: #ff8c42;
}

.product .btn {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ffeb3b;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}